.defaultContentWidth{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
//	border: 1px solid black;
}

#logo {
	height: 90px; 
	width: 180px; 
	background-image: url(img/logo.png); 
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
//	margin-left: 3.8%;
}

#loginhead {
	padding: 0px 10px;
	margin-top:27px;
}

@media (max-width: 800px) {
	/*#branding{
		width: 800px;
	}
	.defaultContentWidth{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
			
	#logo {
		margin-left: 30px;
	}*/
}

@media (min-width: 800px) and (max-width: 1024px) {
/*	#branding{
		width: 1024px;
	}*/
}

@media (min-width: 1024px) and (max-width: 1280px) and (max-height: 600px)  {
/*	#branding{
		width: 1280px;
	}*/
}