#lightbox {
	visibility: hidden;
	background: #000;
	opacity:0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1003;
}

#lightbox-panel {
	visibility: hidden;
	position:fixed;
	top:10%;
	left:15%;
	width:70%;
	height:80%;
	background: #fff;
	z-index:1004;
}
		
.uploadheader{
	margin:0px;
	height: 10%;
	width: 100%;
	border-bottom: 1px solid #DDD;
}

.uploadtitle{
	float: left;
	margin-left: 10px;
	font-size: 20px;
	font-family: Arial;
	color: #333;
}

#close-panel{
	float: right;
}


.uploadcontainer{
//	border: 1px solid black;
	height: 90%;
}

.uploadlabel{
//	border: 1px solid green;
	font-size: 11px;
	margin: 20px 20px 37px 20px;
	font-family: Arial;
	color: #666;
}

.uploadimgholder{
//	border: 1px solid green;
	height: 85%;
	width: 100%;
}


#btnholder{
	border-top: 1px solid #DDD;
	width: 100%;
	padding-bottom: 17px;
	padding-top: 17px;
	position: absolute;
	bottom: 0px;
}

.uploadformbtn{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7fc542), color-stop(1, #93cc5e) );
	background:-moz-linear-gradient( center top, #7fc542 5%, #93cc5e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fc542', endColorstr='#93cc5e');
	background-color:#7fc542;
	border: 1px solid #7fc542;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding: 6px 15px;
	cursor: pointer;
	margin-left: 20px;
	text-decoration: none;
}
